.about-section .title {
  font-size: 2.5rem;
}

.about-section {
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 40px 8%;
  margin-top: 180px;
  margin-left: 8%;
  margin-right: 8%;
  margin-bottom: 0px;
}

.about-section .title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #00bbdc;
}
