.projects-section {
  min-height: 100vh;
  padding: 0 8%;
  padding-top: 120px;
  padding-bottom: 60px;

  background: url("../assets/gradient-colorful-abstract-background-modern-design_677411-1552.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  color: white;
}

.projects-title {
  font-size: 2.5rem;
  text-align: center;
  color: #00bbdc;
  margin-bottom: 50px;
}

.projects-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.project-card {
  flex-basis: 350px;
  display: flex;
  flex-direction: column;

  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;

  padding: 25px;
  transition: transform 0.3s ease;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-image {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.project-card-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: white;
}

.project-description {
  font-size: 1rem;
  color: #ccc;
  margin-bottom: 20px;
  flex-grow: 1;
}

.project-tech-stack {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 25px;
}

.project-tech-stack span {
  background-color: rgba(0, 187, 220, 0.1);
  color: #00bbdc;
  font-size: 0.8rem;
  padding: 5px 10px;
  border-radius: 15px;
}

.project-links {
  display: flex;
  gap: 1rem;
}

.btn-project {
  background: transparent;
  color: #00bbdc;
  border: 2px solid #00bbdc;
  padding: 8px 15px;
  border-radius: 25px;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease;
  text-decoration: none;
  text-align: center;
}

.btn-project:hover {
  background: #00bbdc;
  color: white;
}

@media (max-width: 1024px) {
  .projects-container {
    gap: 1rem;
  }

  .project-card {
    flex-basis: 45%;
  }
}

@media (max-width: 768px) {
  .projects-container {
    flex-direction: column;
    align-items: center;
  }

  .project-card {
    flex-basis: 100%;
    width: 90%;
  }
}
