@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* border: 1px solid red; */
}

html, body {
  background: url("./assets/bg-image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;


  overflow-x: hidden;

}
